name: Snapshot
on:
  push:
    branches:
      - "development"

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore dotnet-eark-sip/dotnet-eark-sip.csproj

      - name: Build library (Snapshot)
        run: dotnet build dotnet-eark-sip/dotnet-eark-sip.csproj --configuration Release --no-restore

      - name: Set snapshot version
        id: snapshot_version
        shell: pwsh
        run: |
          [xml]$csproj = Get-Content dotnet-eark-sip/dotnet-eark-sip.csproj
          $version = $csproj.Project.PropertyGroup.Version + "-SNAPSHOT"
          $csproj.Project.PropertyGroup.Version = $version
          $csproj.Save('dotnet-eark-sip/dotnet-eark-sip.csproj')
          "version=$version" >> $GITHUB_OUTPUT

      - name: Pack NuGet Package (Snapshot)
        run: dotnet pack dotnet-eark-sip/dotnet-eark-sip.csproj -c Release --no-build -o ./dist

      - name: Publish to GitHub Packages (Snapshot)
        run: dotnet nuget push "dist/dotnet-eark-sip.${{ steps.snapshot_version.outputs.version }}.nupkg" --source "https://nuget.pkg.github.com/keeps/index.json" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
